.emojis{
    width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "icon icon "
    "icon icon " ;
    grid-gap: 10px;
    /* align-items: center; */
}
h2{
    /* display: inline; */
    text-decoration: underline;
    
}
/* .span{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
} */
a:link {
    text-decoration: none;
}
a{
    background-color: blueviolet;
    color: white;
    padding: 5px;
}
.emoji{
    border: 1px solid black;
    padding: 15px;

}
.emoji{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
.emoji .icon{
    flex-grow: 1;
    order: -1 ;
    align-self: center;
}
